name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_TOKEN }}
      
      # - name: Docker Setup Buildx
      #   id: buildx
      #   uses: docker/setup-buildx-action@v2.0.0
      
      - name: Build and push Docker images
        uses: docker/build-push-action@v3.0.0
        with:
          context: ./docker/
          # platforms: linux/amd64,linux/arm64
          push: true
          tags: easychen/checkchan:latest
          
          
